html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.center-container {
    width: 1000px;
    height: 600px;
    position: relative;
    .ellipse {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #f5d103;
        position: absolute;
        bottom: 0;
        animation: bounceInDown, red-smile,go-go-go, move, move-down;
        animation-duration: 3s, 3s, 1s, 4s, 4s;
        animation-delay: 0s ,0s, 3s, 6s, 12s;
        animation-fill-mode: forwards;
        // animation-timing-function: linear;
        animation-iteration-count: 1, 1, 1, 1, 1;
        transform-origin: 0 0;
        // hello smile ellipse
        @keyframes bounceInDown {
            0%, 60%, 75%, 90%, 100% {
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                transform: translate3d(0, -3000px, 0);
            }

            60% {
                opacity: 1;
                transform: translate3d(0, 0px, 0);
            }

            75% {
                transform: translate3d(0, -25px, 0);
            }

            90% {
                transform: translate3d(0, 0px, 0);
            }

            100% {
                    transform: none;
            }
        }
        @keyframes red-smile {
            0% { 
                background-color: red;
            }
            
            75% {
                background-color: red;
            }
        }
        // gogogo
        @keyframes go-go-go {
            0%, 60%, 75%, 90%, 100% {
                transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }
            0% {
                left: 0%;
            }
            25% {
                left: 140px;
            }
            50% {
                left: 130px;
            }
            75% {
                left: 140px;
            }
            100% {
                height: 90px;
                left: 140px;
            }
        }

        .eye-l {
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 50%;
            position: absolute;
            top: 30px;
            left: 30px;
        }
        .eye-r {
            width: 10px;
            height: 10px;
            background: #000;
            border-radius: 50%;
            position: absolute;
            top: 30px;
            left: 60px;
        }
        .emoji {
            width: 50px;
            height: 5px;
            top: 60px;
            left: 25px;
            background-color: #000;
            position: absolute;
            animation-name: aaa;
            animation-duration: 3s;
            @keyframes aaa {
                0% { 
                    height: 30px;
                    border-radius: 50%;
                }

                50% {
                    height: 15px;
                    border-radius: 25%
                }
                
                100% {
                    border-radius: 0;
                    height: 5px;
                }
            }
        }
    }
    
    .square-box {
        display: flex;
        align-items: flex-end;
        height: 100%;
        justify-content: center;
        .square-style {
          width: 100px;
          height: 300px;
          background-color: black;
          border: 2px red solid;
          margin-right: 25px;
      }
      .square-1-controler {
        animation-name: h-down, h-up, h-down;
        animation-duration: 1s, 1s, 0.3s;
        animation-fill-mode: forwards;
        animation-delay: 3500ms, 7500ms, 14650ms;
        @keyframes h-down {
            0% {
                height: 300px;   
            }
            100% {
                height: 100px;
            }
        }
        @keyframes h-up {
            0% {
                height: 100px;   
            }
            100% {
                height: 300px;
            }
        }
      }
      .square-2-controler {
        animation-name: h-down-2, h-up-2, h-down-2;
        animation-duration: 1s, 1s, 0.3s;
        animation-fill-mode: forwards;
        animation-delay: 3500ms, 8500ms, 13650ms;
        @keyframes h-down-2 {
            0% {
                height: 300px;   
            }
            100% {
                height: 150px;
            }
        }
        @keyframes h-up-2 {
            0% {
                height: 150px;   
            }
            100% {
                height: 300px;
            }
        }
      }
      .square-3-controler {
        animation-name: h-down-3, h-up-3, h-down-3;
        animation-duration: 1s, 1s, 0.3s;
        animation-fill-mode: forwards;
        animation-delay: 3500ms, 9500ms, 12650ms;
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        @keyframes h-down-3 {
            0% {
                height: 300px;   
            }
            100% {
                height: 200px;
            }
        }
        @keyframes h-up-3 {
            0% {
                height: 200px;   
            }
            100% {
                height: 300px;
            }
        }
      }
      
    }
}

@keyframes move {
    0% {
        transform:translate(0px, 0px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    12.50% {
        transform:translate(46px, -190px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    25% {
        transform:translate(105px, -105px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    37.50% {
        transform:translate(160px, -215px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    50% {
        transform:translate(235px, -155px);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    62.50% {
        transform:translate(294px, -290px);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    75% {
        transform:translate(360px, -205px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    87.50% {
        transform:translate(424px, -362px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    100% {
        transform:translate(490px, -305px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
}

@keyframes move-down {
    0% {
        transform:translate(490px, -305px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    12.50% {
        transform:translate(430px, -400px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    25% {
        transform:translate(360px, -205px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    37.50% {
        transform:translate(203px, -400px);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    50% {
        transform:translate(235px, -155px);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    62.50% {
        transform:translate(170px, -400px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    75% {
        transform:translate(105px, -105px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    87.50% {
        transform:translate(46px, -190px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    100% {
        transform:translate(0px, 0px); 
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
}